body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  background: #ededed;
}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  background: linear-gradient(to right, #eb3349 40%, #f45c43);
  display: flex;
  height: 162px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-nav {
  width: 1140px;
  max-height: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
}
.logoDesign {
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: left;
}
.img {
  width: 232px;
  height: 58.47px;
}
.main-menu {
  width: 60%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
ul {
  list-style-type: none;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  font-family: Arial;
  flex-wrap: wrap;
}
li {
  margin: 10px 20px;
}
.sub-nav {
  height: 121px;
  width: 100%;
  background: #ffffff;
}
.sub-menu {
  color: #666;
  font-weight: 600;
  font-size: 18px;
  font-family: Arial;
  flex-wrap: wrap;
  width: 834px;
  height: 108px;
  max-height: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 0px;
}
